.imgteam:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
ul li a i{
    color: black;
}
ul li a i:hover{
    color: #353225;
}
.contactrowstyle{
    padding-top: 10px;
    justify-content: center;
}
/* Path: assets/css/oncss.css */
.content-center {
    display: flex;
    justify-content: center;
}
.text-center {
    text-align: center!important;
}
li {
    list-style: none;
}


.ourpartners{padding-bottom: 15px;}
.partnersection{padding-top: 50px;margin-bottom: -40px;}

footer {
    background-color: #8D8A8F;
    color: #3b3b3b;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    
}
footer a {
    color: #3b3b3b;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
}

.fa {
    color: #3b3b3b;
}
.fa:hover {
    color: #fff;

}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}